{% extends "AppSinLuz/index.html" %}
{% load static %}
{% block tituloQueCambia %}
Reclamos
{% endblock %}
{% block contenidoQueCambia %}
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Busqueda</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Reclamos al: {{fecha}}</h3>
							<hr>
							
							{% if reclamos %}

                            <ul>
                            {% for reclamo in reclamos %}
                            <p class="tagline"> <h3> <li>{{ reclamo.descripcion }}</li></h3> </p>
                            {% endfor %}
                            </ul>
                            {% endif %}
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->
{% endblock %}